* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {

    /* overflow: hidden; */
    font-family: 'poppins';
    color: var(--color-white) !important;
    background-color: var(--bg-dark) !important;
}

/*================================ Index.html started =====================================*/
.box_top {

    z-index: 0;
    width: 200px;
    height: 200px;
    background-color: var(--bg-blue);
    filter: blur(120px);

    position: absolute;
    top: 0px;
    left: 0px;
}

.container_1 {

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container_1 .child_1 {

    width: 300px;

}

.box_bottom {

    z-index: 0;
    width: 200px;
    height: 200px;
    background-color: var(--bg-blue);
    filter: blur(120px);

    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*================================ Index.html ended =====================================*/


/*================================= welcome.html ended ===================================*/
.welcomeContainer_1 {

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 1;
}

.welcomeContainer_1 .child_1 {

    margin-top: 20px;
}

.welcomeContainer_1 .child_1 img {

    margin: 0 auto;
    display: flex;
    animation-name: imgRotate;
    animation-duration: 3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes imgRotate {
    0% {
        transform: rotate(0deg);
    }

    35% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(0deg);

    }

    90% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

.welcomeContainer_1 .child_1 img {

    width: 360px;
    height: 394.83px;
}

.welcomeContainer_1 .child_1 h1 {

    font-weight: 700;
    font-size: 56px;
}

.welcomeContainer_1 .child_2 img {

    width: 40px;
    height: 8px;

}

.welcomeContainer_1 .child_3 {

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.welcomeContainer_1 .child_3 a {

    width: 380px;
    height: 55px;
}

.welcomeContainer_1 .child_3 a .next {

    width: 380px;
    height: 55px;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-white);
    border-radius: 8px;
    border-style: none;
    background-color: var(--bg-blue);
    box-shadow: 0px 0px 40px 0px #8870FF4D;
}

.welcomeContainer_1 .child_3 a .next:hover {

    font-size: 28px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    transition: all 0.4s;
    color: var(--color-blue);
    border: 1px solid var(--bg-blue);
    background-color: transparent;
    box-shadow: none;

}

.welcomeContainer_1 .child_3 a .skip {

    width: 380px;
    height: 55px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    color: var(--color-blue);
    border: 1px solid var(--bg-blue);
    background-color: transparent;
    box-shadow: none;

}

.welcomeContainer_1 .child_3 a .skip:hover {

    font-size: 28px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    transition: all 0.4s;
    color: var(--color-white);
    background-color: var(--bg-blue);
    box-shadow: 0px 0px 40px 0px #8870FF4D;

}

/*========================= welcome.html ended ===============================*/

/* ========== login.html started =====================================*/ 

.logo {

    margin: 10px 0px 30px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.loginContainer_1 {

    width: 70%;
    margin: 0 auto;
}

.loginContainer_1 .parent_1 {

    width: 100%;
    margin-bottom: 20px;
}

.loginContainer_1 .parent_1 h1 {

    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.loginContainer_1 .parent_2 form {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.loginContainer_1 .parent_2 form label {

    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
}

.loginContainer_1 .parent_2 form input {

    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 0px 10px;
    margin-bottom: 20px;
    color: var(--color-white);
    border: 1px solid var(--bg-gray);
    background-color: transparent !important;
}

.loginContainer_1 .parent_2 form input:hover {

    outline: var(--bg-blue);
    border: 1px solid var(--bg-blue);
}

.loginContainer_1 .parent_2 form .passwordBox .passwordIconBox {


    display: flex;
    border-radius: 6px;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    border: 1px solid var(--bg-gray);
}

.loginContainer_1 .parent_2 form .passwordBox .passwordIconBox:hover {

    outline: var(--bg-blue);
    border: 1px solid var(--bg-blue);
}

.loginContainer_1 .parent_2 form .passwordBox .passwordIconBox .inputBox {

    width: 100%;
}

.loginContainer_1 .parent_2 form .passwordBox .passwordIconBox .iconBox {

    position: relative;
    right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer_1 .parent_2 form .passwordBox .passwordIconBox #loginPassword {

    border: none;
    outline: none;
}

.loginContainer_1 .parent_2 form .passwordBox .passwordIconBox img {

    border-style: none;
    background-color: transparent;

    position: relative;
    right: 33px;
}

.loginContainer_1 .parent_2 form .passwordBox div .eyeIcon {

    cursor: pointer;

    position: sticky;
    top: -34.5px;
    left: 970px;
    right: 270px;

}

/* Autofill background remove */
.loginContainer_1 .parent_2 form input:-webkit-autofill,
.loginContainer_1 .parent_2 form input:-webkit-autofill:focus,
.loginContainer_1 .parent_2 form input:-webkit-autofill:hover,
.loginContainer_1 .parent_2 form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--text-color, white) !important;
    /* text ka color reset */
    transition: background-color 5000s ease-in-out 0s;
    /* autofill ka white flash hide */
}

.loginContainer_1 .parent_2 form #loginPassword {

    margin-bottom: 0px;
}

.loginContainer_1 .parent_2 form #Forget {


    width: 100%;
    text-align: end;
}

.loginContainer_1 .parent_2 form .loginBox {

    width: 100%;
    text-align: center;
    margin: 35px 0px;
}

.loginContainer_1 .parent_2 form .loginBox a button {

    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    color: var(--color-white);
    background-color: var(--bg-blue);
    box-shadow: 0px 0px 40px 0px #8870FF4D;
}

.loginContainer_1 .parent_2 form .loginBox a button input {

    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    border-style: none;
    color: var(--color-white);
    background-color: var(--bg-blue);
    box-shadow: 0px 0px 40px 0px #8870FF4D;
}

.loginContainer_1 .parent_2 form .loginBox a button:hover {

    font-size: 26px;
    border: 1px solid var(--bg-blue);
    color: var(--color-blue);
    background-color: transparent;
    box-shadow: none;
    transition: all 1s ease;
}

.loginContainer_1 .parent_2 form button:hover {

    font-size: 28px;
    font-weight: 500;
    box-shadow: none;
    border-radius: 8px;
    border-style: none;
    color: var(--color-blue);
    background-color: transparent;
    border: 1px solid var(--bg-blue);

}

.loginContainer_1 .parent_2 form .dottedLineBox {

    width: 100%;
    height: 0px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContainer_1 .parent_2 form .dottedLine {

    border: 1.8px dotted var(--color-gray);

}

.loginContainer_1 .parent_2 form .dottedLineBox .or {

    width: 50px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    border-radius: 18px;
    background-color: var(--bg-dark);

    position: relative;
    top: -15px;
    font-size: 18px;

}

.loginContainer_1 .parent_3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 20px;
}

.loginContainer_1 .parent_3 h2 {

    font-size: 24px;
}

.loginContainer_1 .parent_3 .buttonBox {

    display: flex;
    flex-direction: row;
    gap: 24px;
}

.loginContainer_1 .parent_3 .buttonBox div {

    width: 137px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--bg-gray);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer_1 .parent_3 .buttonBox div div {

    display: flex;
    flex-direction: row;
}

.loginContainer_1 .parent_3 .buttonBox div div a {

    width: 100%;
    height: 100%;
    text-decoration: none;

    display: flex;
    justify-content: space-around;
}

.loginContainer_1 .parent_3 .buttonBox div div a button {

    font-size: 18px;
    border-style: none;
    color: var(--color-gray);
    background-color: transparent;
}


.loginContainer_1 .parent_3 .need {

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.loginContainer_1 .parent_3 .need p {

    height: 30px;
    font-size: 16px;
}

.loginContainer_1 .parent_3 .need p span {

    font-size: 18px;
}

.loginContainer_1 .parent_3 .need p span a {

    text-decoration: none;
}


/*=================================== login.html ended =====================================*/


/*=================================== Sign up.html started =====================================*/

.logo {

    margin: 10px 0px 30px 0px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpLogo {

    margin: 60px 0px 30px 0px;

}

.signUpContainer_1 {

    width: 70%;
    margin: 0 auto;
}

.signUpContainer_1 .parent_1 {

    width: 100%;
    margin-bottom: 0px;
}

.signUpContainer_1 .parent_1 h1 {

    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.signUpContainer_1 .parent_2 form {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.signUpContainer_1 .parent_2 form label {

    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.signUpContainer_1 .parent_2 form input {

    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 0px 10px;
    margin-bottom: 10px;
    color: var(--color-white);
    border: 1px solid var(--bg-gray);
    background-color: transparent !important;
}

.signUpContainer_1 .parent_2 form input:hover {

    outline: var(--bg-blue);
    border: 1px solid var(--bg-blue);
}

.signUpContainer_1 .parent_2 form .passwordBox .passwordIconBox {


    display: flex;
    border-radius: 6px;
    flex-direction: row;
    margin-bottom: 3px;
    justify-content: space-between;
    border: 1px solid var(--bg-gray);
}

.signUpContainer_1 .parent_2 form .passwordBox .passwordIconBox:hover {

    outline: var(--bg-blue);
    border: 1px solid var(--bg-blue);
}

.signUpContainer_1 .parent_2 form .passwordBox .passwordIconBox .inputBox {

    width: 100%;
}

.signUpContainer_1 .parent_2 form .passwordBox .passwordIconBox .iconBox {

    position: relative;
    right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContainer_1 .parent_2 form .passwordBox .passwordIconBox #loginPassword {

    border: none;
    outline: none;
}

.signUpContainer_1 .parent_2 form .passwordBox .passwordIconBox img {

    border-style: none;
    background-color: transparent;

    position: relative;
    right: 33px;
}

.signUpContainer_1 .parent_2 form .passwordBox div .eyeIcon {

    cursor: pointer;

    position: sticky;
    top: -34.5px;
    left: 970px;
    right: 270px;

}

.signUpContainer_1 .parent_2 form .passwordBox div .eyeIcon {

    cursor: pointer;

    position: sticky;
    top: -34.5px;
    left: 970px;
    right: 270px;
}

/* Autofill background remove */
.signUpContainer_1 .parent_2 form input:-webkit-autofill,
.signUpContainer_1 .parent_2 form input:-webkit-autofill:focus,
.signUpContainer_1 .parent_2 form input:-webkit-autofill:hover,
.signUpContainer_1 .parent_2 form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--text-color, white) !important;
    /* text ka color reset */
    transition: background-color 5000s ease-in-out 0s;
    /* autofill ka white flash hide */
}

.signUpContainer_1 .parent_2 form #signUpPassword {

    border: none;
    outline: none;
    margin-bottom: 0px;
}

.signUpContainer_1 .parent_2 form #confirmPassword {

    border: none;
    outline: none;
    margin-bottom: 0px;
}

.signUpContainer_1 .parent_2 form #Forget {

    width: 100%;
    text-align: end;
}

.signUpContainer_1 .parent_2 form .loginBox {

    width: 100%;
    text-align: center;
    margin: 10px 0px 15px 0px;
}

.signUpContainer_1 .parent_2 form .loginBox a button {

    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    border-style: none;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--bg-blue);
    box-shadow: 0px 0px 10px 0px #8870FF4D;
}

.signUpContainer_1 .parent_2 form .loginBox a button input {

    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    border-style: none;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--bg-blue);
    box-shadow: 0px 0px 10px 0px #8870FF4D;
}

.signUpContainer_1 .parent_2 form .loginBox a button:hover {

    font-size: 22px;
    box-shadow: none;
    transition: all 1s ease;
    color: var(--color-blue);
    background-color: transparent;
    border: 1px solid var(--bg-blue);
    text-decoration: none;
}

.signUpContainer_1 .parent_2 form .dottedLineBox {

    width: 100%;
    height: 0px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUpContainer_1 .parent_2 form .dottedLine {

    border: 1.8px dotted var(--color-gray);

}

.signUpContainer_1 .parent_2 form .dottedLineBox .or {

    width: 50px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    border-radius: 18px;
    background-color: var(--bg-dark);

    position: relative;
    top: -15px;
    font-size: 18px;

}

.signUpContainer_1 .parent_3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
}

.signUpContainer_1 .parent_3 h2 {

    font-size: 24px;
}

.signUpContainer_1 .parent_3 .buttonBox {

    display: flex;
    flex-direction: row;
    gap: 24px;
}

.signUpContainer_1 .parent_3 .buttonBox div {

    width: 137px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--bg-gray);

    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContainer_1 .parent_3 .buttonBox div div {

    display: flex;
    flex-direction: row;
}

.signUpContainer_1 .parent_3 .buttonBox div div a {

    width: 100%;
    height: 100%;
    text-decoration: none;

    display: flex;
    justify-content: space-around;
}

.signUpContainer_1 .parent_3 .buttonBox div div a button {

    font-size: 18px;
    border-style: none;
    color: var(--color-gray);
    background-color: transparent;
}

.signUpContainer_1 .parent_3 .need {

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.signUpContainer_1 .parent_3 .need p {

    height: 30px;
    font-size: 16px;
}

.signUpContainer_1 .parent_3 .need p span {

    font-size: 18px;
}

.signUpContainer_1 .parent_3 .need p span a {

    text-decoration: none;
}

/*=================================== Sign up.html ended =====================================*/
.main {

max-width: 1200px;
margin: auto;
padding: 20px;

}

/* =============================== Header Section =============================== */
.todoFront_Container_1 {

background-color: #8870ff;
color: black;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;

}

.parent_1 {
display: flex;
align-items: center;
justify-content: space-between;
}

.child_1 {
background-color: rgba(255, 255, 255, 0.3);
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
font-weight: bold;
color: black; /* Text color black */

}


.child_2 h2 {
margin: 0;
font-size: 28px;
color: black; /* Text color black */
}

/* =============================== Todo Cards =============================== */
.mainCenter {
display: flex;
flex-direction: column;
gap: 20px;
}

.todoFront_Container_2 {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
display: flex;
flex-direction: column;
justify-content: space-between;
color: black; /* Text color black */
}

.todoFront_Container_2 h3 {
margin: 0 0 10px 0;
font-size: 22px;
color: black; /* Text color black */
}

.todoFront_Container_2 p {
flex-grow: 1;
font-size: 16px;
color: black; /* Text color black */
}

.todoFront_Container_2 small {
font-size: 14px;
color: black; /* Text color black */
}

.deleteBtn {
margin-top: 15px;
align-self: flex-end;
background-color: #dc3545;
color: white;
border: none;
padding: 8px 15px;
border-radius: 5px;
cursor: pointer;
}

.deleteBtn {
background-color: #c82333;
}

/* =============================== New Post Button =============================== */
.todoFront_Container_3 {

    position: fixed;
    bottom: 30px;
    left: 46%;
text-align: center;
margin-top: 20px;
}

#newPostBtn {
padding: 10px 20px;
font-size: 16px;
}

/* =============================== Modal Styles =============================== */
.createList {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5);
display: flex;
align-items: center;
justify-content: center;
z-index: 999;
}

.box_CreateList {
    
background-color: white;
padding: 20px;
border-radius: 10px;
width: 90%;
max-width: 500px;
color: black; /* Text color black */
margin: 90px auto;

}

.box_CreateList form div {
margin-bottom: 15px;
}

.box_CreateList label {
display: block;
margin-bottom: 5px;
font-weight: bold;
color: black; /* Text color black */
}

.box_CreateList input,
.box_CreateList textarea {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
font-size: 16px;
color: black; /* Text color black */
}

.modal-buttons {
display: flex;
justify-content: flex-end;
gap: 10px;
}

.modal-buttons button {
padding: 8px 15px;
border-radius: 5px;
border: none;
cursor: pointer;
}

.modal-buttons button[type="button"] {
background-color: #6c757d;
color: white;
}

.modal-buttons button[type="button"] {
background-color: #4f5152;
}

.modal-buttons button[type="submit"] {
background-color: #8870ff;
color: white;
}

.modal-buttons button[type="submit"] {
background-color: #8870ff;
}

/* =============================== Responsive Styles =============================== */
@media (max-width: 768px) {
.parent_1 {
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.child_1 {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.child_2 h2 {
    font-size: 24px;
}

.todoFront_Container_2 h3 {
    font-size: 20px;
}

.todoFront_Container_2 p {
    font-size: 14px;
}

.deleteBtn {
    padding: 6px 12px;
    font-size: 14px;
}

}

@media (max-width: 480px) {
.box_CreateList {
width: 95%;
padding: 15px;
}

#newPostBtn {
    width: 100%;
}

}

